<div class="container mt-4">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="m-0">Your Tasks</h3>
  </div>

  <div class="row g-3">
    <!-- LEFT: Tasks -->
    <div class="col-12 col-lg-5">
      <app-task
        [tasks]="userTasks"
        [selectedTask]="selectedTask"
        [isSaving]="isSavingTask"
        (selectTask)="onSelectTask($event)"
        (addTask)="onAddTask($event)"
        (deleteTask)="onDeleteTask($event)"
        (saveTaskEdit)="onSaveTaskEdit($event)"
      ></app-task>
    </div>

    <!-- RIGHT: Subtasks -->
    <div class="col-12 col-lg-7">
      <app-sub-task
        [selectedTask]="selectedTask"
        [isSaving]="isSavingSubTask"
        (addSubTask)="onAddSubTask($event)"
        (deleteSubTask)="onDeleteSubTask($event)"
        (saveSubTaskEdit)="onSaveSubTaskEdit($event)"
        (toggleDone)="onToggleSubTaskDone($event)"
      ></app-sub-task>
    </div>
  </div>
</div>
