<div class="container mt-5">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div class="mb-3">
      <input
        ngModel
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter Email"
        required="true"
      />
    </div>
    <div class="mb-3">
      <input
        ngModel
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter Password"
        required="true"
      />
    </div>
    <div class="mb-3">
      <input
        [disabled]="!loginForm.form.valid"
        type="submit"
        class="form-control btn btn-outline-primary"
        value="Login"
      />
    </div>
  </form>
</div>
